{*
 * Copyright (c) 2022 Strategio Digital s.r.o.
 * @author Jiří Zapletal (https://strategio.digital, jz@strategio.digital)
 *}

{extends './../../vendor/strategio/contentio-sdk/view/controller/error.latte'}